@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Mulish:ital,wght@1,300&display=swap');

img {
    height: 50vh;
}

header, main {
    text-align: center;
}

#main-container{
    display: flex;
    justify-content: center;
}

h1 {
    font-family: 'Inconsolata', monospace;
}

#main-container p {
    font-family: 'Mulish', sans-serif;
    font-size: 1.3em;
}

#footer-message{
display: flex;
justify-content: center;
align-items: center;


}
#footer-buttons{
display: flex;
justify-content: center;
align-items: center;

}
.btn{
margin-right: 25px;

}

